{% extends "base.html" %}

{% block content %}
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modal-message"></p>
  </div>
</div>
<section class="center">
<section id="video-container" class=""></section>
<section id="download-page" class="hide">
	<select id="format-select" class="format-select"></select>
    <a id="download-link" class="default-button" onclick="downloadFile()" >Loading...</a>
</section>
</section>
<section><h1 id="title" class='title'>ytdownloader</h1></section>
<section id="search-page" class="center width-100"> 
<input id="url-input" class="url-input" placeholder = "Youtube URL to Download"> 
<button id="send-url-button" class="default-button" >Send</button>
</section>
{% endblock %}